<ul>
	<% @posts.each do |p| %>
	<li>
		<%= link_to p.name ,post_path(p)%>
		<%= link_to 'edit',edit_post_path(p) %>
		<%= link_to 'delete',post_path(p),:method=>:delste %>
	</li>
	<% end %>
</ul>

<%= link_to'new post',new_post_path %>